<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var prefix = "{{ prefix }}"; // Make sure you pass 'prefix' from your Flask view
    </script>
    <script src="/{{ prefix }}{{ url_for('static', filename='log_events.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note {{ note_id }}</title>
    <link rel="stylesheet" href="/{{prefix}}{{ url_for('static', filename='style2.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Note {{ note_id }}</h1>
    <form method="POST" action="/{{prefix}}{{ url_for('password', note_id=note_id) }}">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Submit">
    </form>
    <a class="home-button" href="/{{prefix}}{{ url_for('home2') }}">
        <button>Home</button>
    </a>
</body>
</html>
